.header {
    &_beautyDiv {
        text-align: center;
        border-radius: 20px;
        padding: 10px; 
        background: #fde4ee; 
        border: 2px solid #b55a5d; 
        margin: 10px;
    }

    &_beautyP {
        color: #b55a5d; 
        text-align: center;
        border-radius: 20px;
        background: #fde4ee; 
        border: 2px solid #b55a5d; 
        margin: 10px;
        font-family: "Courier", monospace;
        font-weight: 600;
    }

    &_beautyButton {
        border-radius: 20px;
        padding: 10px; 
        background: rgb(255, 227, 232); 
        border: 2px solid #b55a5d; 
        margin: 10px;
        font-size: 15px;
        color: #b55a5d; 
    }
}