.am {
    &_beautyDiv {
        color: #b55a5d; 
        border-radius: 20px;
        padding: 10px;
        background: #fde4ee;
        border: 2px solid #b55a5d;
        margin: 10px;
    }

    &_usualImg {
        height: 300px;
    }

    &_divAM {
        text-align: center;
    }
}