.g3D {
    &_beautyDiv {
        border-radius: 20px;
        padding: 10px;
        background: #fde4ee;
        border: 2px solid #b55a5d;
        margin: 10px;
        overflow: auto;
    }

    &_bestCanvas {
        float: left;
    }

    &_div3D {
        border-radius: 20px;
        padding: 10px;
        border: 2px solid #fde4ee;
        margin: 10px;
        float: left;
        margin-left: 20px;
    }

    &_checkbox {
        left: 540px;
        top: 500px;
        position: absolute;
        font-size: 15pt;
        color: #b55a5d;
    }

    &_selectFigures {
        left: 550px;
        top: 320px;
        position: absolute;
        font-size: 15pt;
        color: #b55a5d;
    }
}