.beautyDiv3D {
    border-radius: 20px;
    padding: 10px;
    background: #fde4ee;
    border: 2px solid #b55a5d;
    margin: 10px;
    overflow: auto; 
}

.canvas {
    float: left;
}

.div3D {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #fde4ee;
    margin: 10px;
    float: left;
    margin-left: 20px;
  }