body {
    background-color:lightpink;
}

.beautyDiv {
    border-radius: 20px;
    padding: 10px; 
    background: #fde4ee; 
    border: 2px solid #b55a5d; 
    margin: 10px;
}

.beautyP {
    font-size: 35px;
    font-family: "Courier", monospace;
    font-weight: 600;
    color: #b55a5d; 
}

p {
    color:#b55a5d;
}

.usualImg {
    /*left: 0px;
    bottom: 0px;*/
    height: 300px;
    /*position: fixed;*/
}

.microImg {
    height: 200px;
}

.macroImg {
    height: 600px;
}

.catImg {
    left: 0px;
    bottom: 0px;
    height: 200px;
    position: fixed;
}