body {
    background-color:lightpink;
}

.beautyDiv {
    border-radius: 20px;
    padding: 10px; 
    background: #fde4ee; 
    border: 2px solid #b55a5d; 
    margin: 10px;
}

textarea {
    width: 200px;
    height: 70px;
    resize: none;
    border-radius: 20px;
    padding: 10px; 
    background: rgb(255, 227, 232); 
    border: 2px solid #b55a5d; 
    margin: 10px;
}

input {
    width: 200px;
    height: 15px;
    resize: none;
    border-radius: 20px;
    padding: 10px; 
    background: rgb(255, 227, 232); 
    border: 2px solid #b55a5d; 
    margin: 10px;
}

.beautyButton {
    border-radius: 20px;
    padding: 10px; 
    background: rgb(255, 227, 232); 
    border: 2px solid #b55a5d; 
    margin: 10px;
    font-size: 15px;
    color: #b55a5d; 
}

button {
    border-radius: 20px;
    padding: 10px; 
    background: rgb(255, 227, 232); 
    border: 2px solid #b55a5d; 
    margin: 10px;
}

.hide {
    display: none;
}

input[type=checkbox] {
    background: #ffc8fc;
    width: 18px;
    height: 18px;
    border: 2px solid #9e066b;
}